.box > p{
    color: orange;
}


.box > div > p:first-child{
    background-color: lightblue;
}

.list li:first-child{
    text-decoration: underline;
}

.box h4::first-letter{
    font-size: 50px;
}

.box h4::first-line{
    background-color: lightyellow;
}

.list li:last-child{
    text-decoration: line-through;
}

.list li:nth-child(2n){
    background-color: orange;
}

.list li:nth-child(2n-1){
     background-color: green;
}

.table1{
    box-shadow: 0px 0px 4px black;
}

.table1 tr:nth-child(2n-1){
    background-color: rgba(255, 182, 193, 0.233);
}
.table1 td{
    padding: 10px 20px;
}

.table1 tr:first-child{
    background-color: pink;
}
