@font-face {
    font-family: 'Engagement';
    src: url('Engagement-Regular.woff2') format('woff2'),
        url('Engagement-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Moirai One';
    src: url('MoiraiOne-Regular.woff2') format('woff2'),
        url('MoiraiOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nabla';
    src: url('Nabla-Regular.woff2') format('woff2'),
        url('Nabla-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

