*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.shadow{
box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.container{
max-width: 1320px;
margin: auto;
margin-bottom: 100px;
}

.navbar{
    padding: 5px 0px;
    display: flex;
    justify-content: space-between;
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.box1{
     width: 600px;
    height: 400px;
    padding: 5px;
}

.box2{
     width: 200px;
    height: 400px;
    padding: 5px;
}

.box{
    width: 300px;
    height: 400px;
    padding: 5px;
    /* border: 1px solid gray; */
}

.card{
    border-radius: 10px;
    background-color: slategray;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

nav{
    display: flex;
}
nav a{
    text-decoration: none;
    padding: 5px 10px;
}
nav a:hover{
    background-color: lightcyan;
}


.footer{
    background-color: slateblue;
    padding: 50px 0px;
}

.card img{
    width: 100%;
}